@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* { box-sizing: border-box; padding: 0; margin: 0; }
    html, body { height: 100%; 
    }

/* body::before {
    content: "";
    background: url(https://cdn.pixabay.com/photo/2022/04/09/05/23/tulip-7120784_960_720.jpg) no-repeat;
    background-size: cover;
    background-size: 1920px 1080px;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
} */

a { text-decoration: none; 
    color: #000;
}

a:hover {
    color:#ccc;
}

#name {
    padding : 10px 55px;
    font-family: 'HS-Regular';
    font-size: 20px;
}

.detail {
    font-family: 'GowunDodum-Regular';
    font-size: 12px;
    text-align: center;
    margin: 5px;
}


.detail div {
    padding : 3px;
}

.detail div:nth-child(1) {
    font-size: 22px;
    font-family: 'GangwonEdu_OTFBoldA';
}

.detail div:nth-child(3) {
    margin-bottom: 15px;
}

.detail div:last-child {
    font-size: 15px;
    margin: 10px;
}

